




<!--&lt;!&ndash; src/app/form-element-config-sidebar/form-element-config-sidebar.component.html &ndash;&gt;-->

<div class="">
  <ng-template dynamicInsertion></ng-template>
  <!--  &lt;!&ndash; Your existing config-sidebar content &ndash;&gt;-->
<!--  <h4>Form Element Configuration</h4>-->
<!--  <label>-->
<!--    Label:-->
<!--    <input [(ngModel)]="formElement.config.label" type="text" />-->
<!--  </label>-->
<!--  <br />-->
<!--  <label>-->
<!--    Placeholder:-->
<!--    <input [(ngModel)]="formElement.config.placeholder" type="text" />-->
<!--  </label>-->
<!--  <br />-->
<!--  <label>-->
<!--    Required:-->
<!--    <input [(ngModel)]="formElement.config.required" type="checkbox" />-->
<!--  </label>-->
<!--  <br />-->
<!--  <label>-->
<!--    Visible:-->
<!--    <input [(ngModel)]="formElement.config.visible" type="checkbox" />-->
<!--  </label>-->
<!--  <label>-->
<!--    Visibility Condition:-->
<!--    <div *ngIf="formElement">-->
<!--      <select [(ngModel)]="targetElementId">-->
<!--        <option [ngValue]="null">None</option>-->
<!--        <option *ngFor="let element of formElements" [ngValue]="element.id">{{ element.config.label || element.type }}</option>-->
<!--      </select>-->
<!--      <input [(ngModel)]="targetValue" type="text" placeholder="Target Value" />-->
<!--    </div>-->
<!--  </label>-->
<!--  <br />-->
<!--  &lt;!&ndash; Add more configuration options as needed &ndash;&gt;-->
</div>
